{% extends "base.html" %}
{% block bodycontent %}
<!-- #region home start -->
<section class="container">
    <article class="present-cart">
        <div class="mini-container">
            <h1 class="cart-title">Contenido de la pagina</h1>
            <p class="cart-description">Esta página, tiene como fin, ser 
                contenedora de los trabajos realizados en las clases, con azure 
                cloud y sus recursos. Mostrarlos de una manera sencilla y práctica.</p>
        </div>
    </article>
</section>
<!-- #endregion -->
{% endblock %}